{% extends 'coursereg/base.html'%}{% block content%} {%load static %}
<div class="col-md-8 offset-md-2 pt-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <h1>Module Details</h1>

    {% if module %}
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <td>Module Name</td>
                <td>{{ module.module_name }}</td>
            </tr>
            <tr>
                <td>Module Code</td>
                <td>{{ module.code }}</td>
            </tr>
            <tr>
                <td>Credit</td>
                <td>{{ module.credit }}</td>
            </tr>
            <tr>
                <td>Module Description</td>
                <td>{{ module.module_desc }}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{ module.category }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    {% if module.availability %}
                    Open
                    {% else %}
                    Closed
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <h2>Registered Students</h2>
        </div>
        {% if user.is_authenticated %}
            {% if is_student_registered == False  %}
                <div class="col-md-6 text-end">
                    <a href="{% url 'coursereg:module_register' module.id %}">Register</a>
                </div>
            {% else %}
                <div class="col-md-6 text-end">
                    <a href="{% url 'coursereg:module_unregister' module.id %}">Unregister</a>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <ul class="list-group">
        {% for student in registrations %}
        <li class="list-group-item">
            <div class="d-flex">
                <img src="/media/{{student.profile_pic}}" class="profile-photo" alt="profile photo">
                <p>{{ student.user.first_name }} {{ student.user.last_name }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}