{% extends 'coursereg/base.html' %}
{%load static %}
{% block content%}
<div class="col-md-8 offset-md-2">
    <br />
    <h1>Modules page</h1>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Module Name</th>
                <th scope="col">Module Code</th>
                <th scope="col">Credit</th>
                <th scope="col">Module Description</th>
                <th scope="col">Module Category</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
            <tr>
                <td scope="row"> <a href="{% url 'coursereg:module_details' module.code%}"> {{ module.module_name }}</a></td>
                <td scope="row">{{ module.code }}</td>
                <td scope="row">{{ module.credit }}</td>
                <td scope="row">{{ module.module_desc }}</td>
                <td scope="row">{{ module.category }}</td>
                <td scope="row">
                    {% if module.availability %}
                    Open
                    {% else %}
                    Closed
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}